Вы хотите узнать, как много значит ранг игрока в теннисе. Проверьте следующие утверждения:

а) Если ранг игрока выше более, чем на 20 позиций, то в среднем он будет выигрывать с большей вероятностью. (Если хотите проверить статистически — формируйте выборку как отклонение от ожидаемого количества побед при случайном исходе);

In [2]:
import numpy as np
import glob
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
!git clone https://github.com/JeffSackmann/tennis_atp

Cloning into 'tennis_atp'...
Updating files:  71% (125/174)
Updating files:  72% (126/174)
Updating files:  73% (128/174)
Updating files:  74% (129/174)
Updating files:  75% (131/174)
Updating files:  76% (133/174)
Updating files:  77% (134/174)
Updating files:  78% (136/174)
Updating files:  79% (138/174)
Updating files:  80% (140/174)
Updating files:  81% (141/174)
Updating files:  82% (143/174)
Updating files:  83% (145/174)
Updating files:  84% (147/174)
Updating files:  85% (148/174)
Updating files:  86% (150/174)
Updating files:  87% (152/174)
Updating files:  88% (154/174)
Updating files:  89% (155/174)
Updating files:  90% (157/174)
Updating files:  91% (159/174)
Updating files:  92% (161/174)
Updating files:  93% (162/174)
Updating files:  94% (164/174)
Updating files:  95% (166/174)
Updating files:  96% (168/174)
Updating files:  97% (169/174)
Updating files:  98% (171/174)
Updating files:  99% (173/174)
Updating files: 100% (174/174)
Updating files: 100% (174/174), done.

In [3]:
glob.glob('tennis_atp/atp_matches_[12][019][01298]*')

['tennis_atp\\atp_matches_1980.csv',
 'tennis_atp\\atp_matches_1981.csv',
 'tennis_atp\\atp_matches_1982.csv',
 'tennis_atp\\atp_matches_1983.csv',
 'tennis_atp\\atp_matches_1984.csv',
 'tennis_atp\\atp_matches_1985.csv',
 'tennis_atp\\atp_matches_1986.csv',
 'tennis_atp\\atp_matches_1987.csv',
 'tennis_atp\\atp_matches_1988.csv',
 'tennis_atp\\atp_matches_1989.csv',
 'tennis_atp\\atp_matches_1990.csv',
 'tennis_atp\\atp_matches_1991.csv',
 'tennis_atp\\atp_matches_1992.csv',
 'tennis_atp\\atp_matches_1993.csv',
 'tennis_atp\\atp_matches_1994.csv',
 'tennis_atp\\atp_matches_1995.csv',
 'tennis_atp\\atp_matches_1996.csv',
 'tennis_atp\\atp_matches_1997.csv',
 'tennis_atp\\atp_matches_1998.csv',
 'tennis_atp\\atp_matches_1999.csv',
 'tennis_atp\\atp_matches_2000.csv',
 'tennis_atp\\atp_matches_2001.csv',
 'tennis_atp\\atp_matches_2002.csv',
 'tennis_atp\\atp_matches_2003.csv',
 'tennis_atp\\atp_matches_2004.csv',
 'tennis_atp\\atp_matches_2005.csv',
 'tennis_atp\\atp_matches_2006.csv',
 'tennis_atp\\atp_matches_2007.csv',
 'tennis_atp\\atp_matches_2008.csv',
 'tennis_atp\\atp_matches_2009.csv',
 'tennis_atp\\atp_matches_2010.csv',
 'tennis_atp\\atp_matches_2011.csv',
 'tennis_atp\\atp_matches_2012.csv',
 'tennis_atp\\atp_matches_2013.csv',
 'tennis_atp\\atp_matches_2014.csv',
 'tennis_atp\\atp_matches_2015.csv',
 'tennis_atp\\atp_matches_2016.csv',
 'tennis_atp\\atp_matches_2017.csv',
 'tennis_atp\\atp_matches_2018.csv',
 'tennis_atp\\atp_matches_2019.csv',
 'tennis_atp\\atp_matches_2020.csv',
 'tennis_atp\\atp_matches_2021.csv',
 'tennis_atp\\atp_matches_2022.csv']

In [5]:
df = pd.concat([pd.read_csv(i) for i in glob.glob('tennis_atp/atp_matches_[12][019][01298]*')], axis=0)

In [6]:
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,1980-1725,Pepsi Grand Slam,Clay,4,A,19800208,1,100437,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,6.0,NaN
1,1980-1725,Pepsi Grand Slam,Clay,4,A,19800208,2,100342,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,2.0,NaN
2,1980-1725,Pepsi Grand Slam,Clay,4,A,19800208,3,100437,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,5.0,NaN
3,1980-205,Lagos,Clay,32,A,19800225,1,100259,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,58.0,NaN,NaN,NaN
4,1980-205,Lagos,Clay,32,A,19800225,2,100135,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2911,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,4,209362,NaN,NaN,...,68.0,42.0,12.0,10.0,11.0,13.0,1103.0,9.0,1130.0,8.0
2912,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,5,202065,NaN,NaN,...,56.0,40.0,20.0,15.0,4.0,8.0,808.0,23.0,1390.0,4.0
2913,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,1,138846,NaN,NaN,...,54.0,29.0,8.0,11.0,6.0,10.0,1059.0,10.0,1881.0,1.0
2914,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,2,209409,NaN,NaN,...,39.0,24.0,7.0,10.0,5.0,9.0,NaN,NaN,NaN,NaN
2915,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,4,208414,NaN,NaN,...,34.0,24.0,13.0,10.0,5.0,8.0,NaN,NaN,NaN,NaN

In [7]:
df.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')

In [8]:
A=df[df['winner_rank'] > 36]
A

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
3,1980-205,Lagos,Clay,32,A,19800225,1,100259,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,58.0,NaN,NaN,NaN
19,1980-205,Lagos,Clay,32,A,19800225,17,100259,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,58.0,NaN,NaN,NaN
27,1980-205,Lagos,Clay,32,A,19800225,25,100259,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,58.0,NaN,NaN,NaN
31,1980-205,Lagos,Clay,32,A,19800225,29,100259,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,58.0,NaN,NaN,NaN
33,1980-205,Lagos,Clay,32,A,19800225,31,100259,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,58.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2909,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,1,202120,NaN,NaN,...,41.0,22.0,20.0,13.0,4.0,8.0,1390.0,4.0,402.0,98.0
2910,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,2,209080,NaN,NaN,...,38.0,23.0,14.0,10.0,0.0,4.0,1130.0,8.0,808.0,23.0
2911,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,4,209362,NaN,NaN,...,68.0,42.0,12.0,10.0,11.0,13.0,1103.0,9.0,1130.0,8.0
2912,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,5,202065,NaN,NaN,...,56.0,40.0,20.0,15.0,4.0,8.0,808.0,23.0,1390.0,4.0
2913,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,1,138846,NaN,NaN,...,54.0,29.0,8.0,11.0,6.0,10.0,1059.0,10.0,1881.0,1.0

In [9]:
B=df[df['winner_rank'] < 36]
B

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,1980-1725,Pepsi Grand Slam,Clay,4,A,19800208,1,100437,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,6.0,NaN
1,1980-1725,Pepsi Grand Slam,Clay,4,A,19800208,2,100342,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,2.0,NaN
2,1980-1725,Pepsi Grand Slam,Clay,4,A,19800208,3,100437,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,5.0,NaN
34,1980-206,Cairo,Clay,32,A,19800303,1,100297,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,32.0,NaN,NaN,NaN
50,1980-206,Cairo,Clay,32,A,19800303,17,100297,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,32.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2802,2022-M-DC-2022-QLS-M-KAZ-NOR-01,Davis Cup QLS R1: KAZ vs NOR,Hard,4,D,20220304,4,122330,NaN,NaN,...,51.0,39.0,24.0,16.0,2.0,4.0,32.0,1416.0,8.0,3915.0
2808,2022-M-DC-2022-QLS-M-USA-COL-01,Davis Cup QLS R1: USA vs COL,Hard,4,D,20220304,2,126203,NaN,NaN,...,25.0,10.0,6.0,6.0,5.0,10.0,20.0,2010.0,453.0,81.0
2840,2022-M-DC-2022-WG1-M-IND-NOR-01,Davis Cup WG1 R1: IND vs NOR,Hard,4,D,20220916,1,134770,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,5850.0,335.0,138.0
2898,2022-M-DC-2022-WG2-M-TUN-GRE-01,Davis Cup WG2 R1: TUN vs GRE,Hard,4,D,20220916,1,126774,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.0,4810.0,355.0,129.0
2900,2022-M-DC-2022-WG2-M-TUN-GRE-01,Davis Cup WG2 R1: TUN vs GRE,Hard,4,D,20220916,4,126774,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.0,4810.0,254.0,196.0

In [ ]:
A['sets'] = A['score'].map(lambda x: len(x.split()))

In [22]:
A

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
3,1980-205,Lagos,Clay,32,A,19800225,1,100259,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,58.0,NaN,NaN,NaN
19,1980-205,Lagos,Clay,32,A,19800225,17,100259,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,58.0,NaN,NaN,NaN
27,1980-205,Lagos,Clay,32,A,19800225,25,100259,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,58.0,NaN,NaN,NaN
31,1980-205,Lagos,Clay,32,A,19800225,29,100259,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,58.0,NaN,NaN,NaN
33,1980-205,Lagos,Clay,32,A,19800225,31,100259,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,58.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2909,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,1,202120,NaN,NaN,...,41.0,22.0,20.0,13.0,4.0,8.0,1390.0,4.0,402.0,98.0
2910,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,2,209080,NaN,NaN,...,38.0,23.0,14.0,10.0,0.0,4.0,1130.0,8.0,808.0,23.0
2911,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,4,209362,NaN,NaN,...,68.0,42.0,12.0,10.0,11.0,13.0,1103.0,9.0,1130.0,8.0
2912,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,5,202065,NaN,NaN,...,56.0,40.0,20.0,15.0,4.0,8.0,808.0,23.0,1390.0,4.0
2913,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,1,138846,NaN,NaN,...,54.0,29.0,8.0,11.0,6.0,10.0,1059.0,10.0,1881.0,1.0

Невозможно выполнить то, что нам не объяснили. Раньше хотя бы на платформе прорешивалось задание подобное домашнему. Здесь - ничего подобного. Считаю пустой трату времени на выполнение того, чего не знаешь и не понимаешь. На платформе объяснено про автоматический анализ данных, здесь непонятно что, таблица не одна а много, она заархивирована, как открывать архивы никто не объяснил. Мы элементарно файл открывать не умеем, о каком анализе может идти речь. Почему SWEETVIZ не может открыть?

In [10]:
import pandas as pd
import sweetviz as sv


report = sv.analyze(df)
report.show_html()

                                             |                                             | [  0%]   00:00 ->…

TypeError:

Column [winner_seed] has a 'mixed' inferred_type (as determined by Pandas).
This is is not currently supported; column types should not contain mixed data.
e.g. only floats or strings, but not a combination.

POSSIBLE RESOLUTIONS:
BEST -> Make sure series [winner_seed] only contains a certain type of data (numerical OR string).
OR -> Convert series [winner_seed] to a string (if makes sense) so it will be picked up as CATEGORICAL or TEXT.
     One way to do this is:
     df['winner_seed'] = df['winner_seed'].astype(str)
OR -> Convert series [winner_seed] to a numerical value (if makes sense):
     One way to do this is:
     df['winner_seed'] = pd.to_numeric(df['winner_seed'], errors='coerce')
     # (errors='coerce' will transform string values to NaN, that can then be replaced if desired; consult Pandas manual pages for more details)